header {
    position: relative;
}

.hero-picture {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.hero-img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
