.svo .svo-intro {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}

.svo .svo-intro-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px 80px 0px;
    font-family: 'Blinker', sans-serif;
    font-size: 27px;
}

.svo .svo-intro p {
    font-size: 22px;
    font-family: 'Blinker', sans-serif;
    width: 50vw;
    text-align: center;
    display: block;
    margin: 0 auto;
    line-height: 2;
}

.svo .svo-installations {
    background-color: #e0dddd;
    padding: 30px 30px 30px 30px;
    font-family: 'Blinker', sans-serif;
}

.svo .svo-installations h1 {
    text-align: center;
    margin-bottom: 40px;
}

.svo .svo-installations img {
    width: 700px;
    height: auto;
    border-radius: 2px;
    margin: 20px;
}

.svo .svo-installations-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.svo .svo-installations-content p {
    width: 50vw;
    line-height: 2;
    font-size: 20px;
}

.svo .svo-vehicles {
    font-family: 'Blinker', sans-serif;
    background-color: black;
    padding: 30px;
}

.svo .svo-vehicles h1 {
    text-align: center;
    margin: 30px;
    color: white;
}

.svo .svo-vehicles img {
    width: 900px;
    height: auto;
    border-radius: 2px;
    margin-top: 40px;
}

.svo .svo-vehicles-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.svo .svo-vehicles p {
    color: white;
}

.svo .svo-vehicles-cards-title {
    font-size: 20px;
    margin-top: 20px;
}

.svo .svo-vehicles-cards-description {
    margin-top: 10px;
    margin-bottom: 10px;
}

.svo .svo-vehicles-cards-link {
    color: white;
    text-decoration: none;
}

.svo .svo-vehicles-cards-link:hover {
    text-decoration: underline;
}

.svo .svo-granTurismo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    font-family: 'Blinker', sans-serif;
}

.svo .svo-granTurismo img {
    width: 50vw;
    height: auto;
    border-radius: 2px;
    margin-left: 40px;
}

.svo .svo-granTurismo p {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 2;
}

.svo .svo-granTurismo a {
    font-size: 20px;
    margin-top: 30px;
    background-color: #3D3C3B;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    width: 200px;
    border-radius: 5px;
}

.svo .svo-granTurismo a:hover {
    filter: brightness(200%);
}

.svo .svo-instagram {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Blinker', sans-serif;
}

.svo .svo-instagram img {
    width: 900px;
    height: auto;
    border-radius: 2px;
    margin: 30px;
}

.svo .svo-instagram-text h1 {
    text-align: center;
    margin-bottom: 50px;
}

.svo .svo-instagram-text p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}

.svo .svo-instagram-text a {
    font-size: 20px;
    margin-top: 30px;
    background-color: #3D3C3B;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    width: 300px;
    border-radius: 5px;
}

.svo .svo-instagram-text a:hover {
    filter: brightness(200%);
}

/* --- RESPONSIVE --- */

@media(max-width: 1480px) {

    .svo .svo-vehicles img {
        width: 600px;
    }

}

@media(max-width: 900px) {

    .svo .svo-granTurismo {
        flex-direction: column;
    }

    .svo .svo-granTurismo img {
        margin: 30px;
        width: 70vw;
    }

    .svo .svo-installations-content {
        flex-direction: column;
    }

    .svo .svo-instagram {
        flex-direction: column;
    }

    .svo .svo-instagram-text {
        margin-top: 20px;
    }

    .svo .svo-vehicles img {
        width: 600px;
    }

    .svo .svo-instagram img {
        width: 600px;
    }

    .svo .svo-installations p {
        width: 70vw;
    }
}

@media(max-width: 700px) {
    .svo .svo-vehicles img {
        width: 400px;
    }

    .svo .svo-installations img {
        width: 400px;
    }

    .svo .svo-instagram img {
        width: 400px;
    }

    .svo .svo-intro-title h1 {
        font-size: 27px;
    }

    .svo .svo-intro p {
        width: 100%;
        padding: 20px;
    }
}

@media(max-width: 410px) {
    .svo .svo-vehicles img {
        width: 300px;
    }

    .svo .svo-installations img {
        width: 300px;
    }

    .svo .svo-instagram img {
        width: 300px;
    }
}

@media(max-width: 320px) {
    .svo .svo-intro p {
        font-size: 15px;
    }

    .svo .svo-granTurismo h1 {
        font-size: 28px;
    }

    .svo .svo-granTurismo p {
        font-size: 15px;
    }

    .svo .svo-installations h1 {
        font-size: 28px;
    }

    .svo .svo-installations p {
        font-size: 15px;
    }

    .svo .svo-instagram-text h1 {
        font-size: 28px;
    }

    .svo .svo-instagram p {
        font-size: 15px;
    }
}