@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');

.product-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2%;
  color: black;
  height: 80vh;
  background-color: #ffffff;
}

.product-header h1 {
  margin-top: 2%;
  font-size: 3em;
  font-family: 'Blinker', sans-serif;
}

.presentation-jaguar {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-evenly;
}

/* Ecologie */
.b-eco {
  width: 37%;
  margin-right: 5%;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -ms-flex-item-align: start;
  align-items: center;
}

.b-eco:not(:last-of-type) {
  margin-right: 16px
}

.b-eco img {
  width: 90px;
  height: auto;
  margin-right: 10px;
}

.b-eco-icon-fuel {
  width: 25%;
  font-size: 17px;
}

.b-eco__value {
  font-weight: 600;
}

.eff_main {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  background-color: transparent
}

.eff_container {
  height: 9em;
  width: 9em;
  font-size: 1em;
  background-color: transparent
}

.eff_arrow {
  position: relative;
  height: 1em;
  width: 1em;
  margin-bottom: .1666667em;
  background-color: #00f;
  color: #fff
}

.eff_arrow span.eff_label {
  padding-left: .1666667em
}

.eff--large {
  font-size: 2em;
}

.eff_A {
  width: 3em;
  background-color: #00a651;
  -webkit-clip-path: polygon(0% 0%,2.5em 0%,100% 50%,2.5em 100%,0% 100%);
  clip-path: polygon(0% 0%,2.5em 0%,100% 50%,2.5em 100%,0% 100%)
}

.eff_B {
  width: 4em;
  background-color: #4cb847;
  -webkit-clip-path: polygon(0% 0%,3.5em 0%,100% 50%,3.5em 100%,0% 100%);
  clip-path: polygon(0% 0%,3.5em 0%,100% 50%,3.5em 100%,0% 100%)
}

.eff_C {
  width: 5em;
  background-color: #bfd630;
  -webkit-clip-path: polygon(0% 0%,4.5em 0%,100% 50%,4.5em 100%,0% 100%);
  clip-path: polygon(0% 0%,4.5em 0%,100% 50%,4.5em 100%,0% 100%)
}

.eff_D {
  width: 6em;
  background-color: #fff100;
  -webkit-clip-path: polygon(0% 0%,5.5em 0%,100% 50%,5.5em 100%,0% 100%);
  clip-path: polygon(0% 0%,5.5em 0%,100% 50%,5.5em 100%,0% 100%)
}

.eff_E {
  width: 7em;
  background-color: #feb811;
  -webkit-clip-path: polygon(0% 0%,6.5em 0%,100% 50%,6.5em 100%,0% 100%);
  clip-path: polygon(0% 0%,6.5em 0%,100% 50%,6.5em 100%,0% 100%)
}

.eff_F {
  width: 8em;
  background-color: #f36f23;
  -webkit-clip-path: polygon(0% 0%,7.5em 0%,100% 50%,7.5em 100%,0% 100%);
  clip-path: polygon(0% 0%,7.5em 0%,100% 50%,7.5em 100%,0% 100%)
}

.eff_G {
  width: 9em;
  background-color: #ee1c25;
  -webkit-clip-path: polygon(0% 0%,8.5em 0%,100% 50%,8.5em 100%,0% 100%);
  clip-path: polygon(0% 0%,8.5em 0%,100% 50%,8.5em 100%,0% 100%)
}

.eff_active {
  height: 2em;
  width: 9em;
  -webkit-clip-path: polygon(0% 0%,8em 0%,100% 50%,8em 100%,0% 100%);
  clip-path: polygon(0% 0%,8em 0%,100% 50%,8em 100%,0% 100%)
}

.eff_active.eff_arrow span.eff_label {
  padding-left: .041667em
}

/* --- CARACTERISTIQUE --- */
.m-364-techspecs-center {
  width: 75%;
  margin-top: 3%;
}

.m-364-module-specs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5%;
  text-align: center;
  font-size: 23px;
}

.m-364-module-specs-data--title {
  font-weight: bold !important
}

.product-data {
  background-color: #ffffff;
}

.product-menu-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  position: sticky;
	top: 0;
  background-color: #232020;
  width: 100%;
  padding: 1%;
  box-shadow: 0 5px 5px -2.5px rgba(0,0,0,.2);
}

.product__menu__item {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  font-family: 'Blinker', sans-serif;
  cursor: pointer;
}

.product__menu__item:hover {
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: 8px;
}

.product__menu__item a:link {
  color: white;
  text-decoration: none;
}

.product__menu__item a:visited {
  color: white;
}

.product-caracteristique {
  padding-top: 4%;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.product-caracteristique img {
  margin-left: 2%;
  border-radius: 1%;
  width: 100%;
  height: auto;
}

.product-carac-texte {
  font-size: 1.5em;
  text-align: justify;
  margin-right: 5%;
  margin-left: 5%;
  line-height: 1.5;
  font-family: 'Blinker', sans-serif;
}

#intérieur {
  background-color: #e0dddd;
  padding-bottom: 3%;
}

.jaguar-image-inside {
  margin-right: 2%;
}

#confort {
  background-color: #000;
  padding-bottom: 5%;
  color: white;
}

.jaguar-image-comfort {
  width: 120%;
}

.product-price {
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  column-gap: 2%;
}

.product-price p {
  font-size: 2em;
  font-weight: bold;
  font-family: 'Blinker', sans-serif;
  margin-bottom: 5%;
}

.product-data .order-button {
  padding: 25px 40px;
  border: none;
  border-radius: 5px;
  background-color: rgb(219, 7, 7);
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
  font-family: 'Blinker', sans-serif;
}

.return-list-div {
  margin-bottom: 2%;
  margin-left: 2%;
}

.return-model-list {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-family: 'Blinker', sans-serif;
}

.return-model-list:hover {
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-offset: 8px;
}

/* --- MODAL BOX --- */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 1%;
  width: 50%;
  font-family: 'Blinker', sans-serif;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  text-align: center;
  margin-bottom: 2%;
}

.modal-car-price {
  text-align: center;
  font-size: 1.5rem;
}

.form-cb-data {
  margin-top: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-cb-data > div {
  margin-top: 1.5%;
}

.modal-order-car {
  padding: 10px 25px;
  margin-top: 5%;
  border: none;
  border-radius: 5px;
  background-color: rgb(219, 7, 7);
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  font-family: 'Blinker', sans-serif;
}

/* --- RESPONSIVE --- */

@media(max-width: 1180px){
  .product-header {
    height: 82vh;
    justify-content: space-around;
  }

  .product-header h1 {
    font-size: 3.2em;
  }

  .presentation-jaguar {
    justify-content: space-around;
    width: 85%;
  }

  .b-eco {
    width: 60%;
  }

  .b-eco img {
    width: 100px;
  }

  .eff_main {
    font-size: 17px;
  }

  .m-364-module-specs {
    font-size: 21px;
    margin-left: -16%;
    width: 130%;
  }

  .product__menu__item {
    font-size: 1.5em;
  }

  .product-caracteristique {
    flex-direction: column;
  }

  .product-caracteristique img {
    width: 95%;
  }

  .product-carac-texte {
    font-size: 1.5em;
  }

  .jaguar-image-inside {
    margin-left: 2%;
  }

  .jaguar-image-comfort {
    width: 95%;
  }

  .product-price p {
    font-size: 1.5em;
  }

  .product-data .order-button {
    padding: 15px 20px;
    font-size: 1.5em;
  }
}

@media(max-width: 1000px){
  .product-header {
    height: 84.4vh;
    justify-content: space-around;
  }

  .product-header h1 {
    font-size: 3em;
  }

  .presentation-jaguar {
    justify-content: space-around;
    width: 90%;
  }

  .b-eco {
    width: 60%;
  }

  .b-eco img {
    width: 90px;
  }

  .eff_main {
    font-size: 15px;
  }

  .presentation-jaguar-img {
    width: 110%;
  }

  .m-364-module-specs {
    font-size: 20px;
    margin-left: -17%;
    width: 135%;
  }

  .product__menu__item {
    font-size: 1.5em;
  }

  .product-caracteristique {
    flex-direction: column;
  }

  .product-caracteristique img {
    width: 95%;
  }

  .product-carac-texte {
    font-size: 1.5em;
  }

  .jaguar-image-inside {
    margin-left: 2%;
  }

  .jaguar-image-comfort {
    width: 95%;
  }

  .product-price p {
    font-size: 1.5em;
  }

  .product-data .order-button {
    padding: 15px 20px;
    font-size: 1.5em;
  }
}

@media(max-width: 800px){
  .product-header {
    height: 86vh;
    justify-content: space-around;
  }

  .product-header h1 {
    font-size: 2.8em;
  }

  .presentation-jaguar {
    justify-content: space-around;
    width: 90%;
  }

  .b-eco {
    width: 90%;
  }

  .b-eco img {
    width: 80px;
  }

  .eff_main {
    font-size: 14px;
  }

  .presentation-jaguar-img {
    width: 100%;
  }

  .m-364-module-specs {
    font-size: 20px;
    margin-left: -17%;
    width: 130%;
  }

  .product__menu__item {
    font-size: 1.5em;
  }

  .product__menu__item:hover {
    text-underline-offset: 5px;
  }

  .product-caracteristique {
    flex-direction: column;
  }

  .product-caracteristique img {
    width: 95%;
  }

  .product-carac-texte {
    font-size: 1.5em;
  }

  .jaguar-image-inside {
    margin-left: 2%;
  }

  .jaguar-image-comfort {
    width: 95%;
  }

  .product-price p {
    font-size: 1.5em;
  }

  .product-data .order-button {
    padding: 15px 20px;
    font-size: 1.5em;
  }
}

@media(max-width: 630px){
  .product-header {
    height: 87.8vh;
    justify-content: space-around;
  }

  .product-header h1 {
    font-size: 2.6em;
  }

  .presentation-jaguar {
    justify-content: space-around;
    width: 100%;
  }

  .b-eco {
    width: 110%;
  }

  .b-eco img {
    width: 70px;
  }

  .eff_main {
    font-size: 12px;
  }

  .presentation-jaguar-img {
    width: 100%;
  }

  .m-364-module-specs {
    font-size: 18px;
    margin-left: -9%;
    width: 120%;
  }

  .product-menu-middle {
    height: 5vh;
  }

  .product__menu__item {
    font-size: 1.4em;
  }

  .product__menu__item:hover {
    text-underline-offset: 3px;
  }

  .product-caracteristique {
    flex-direction: column;
  }

  .product-caracteristique img {
    width: 95%;
  }

  .product-carac-texte {
    font-size: 1.5em;
  }

  .jaguar-image-inside {
    margin-left: 2%;
  }

  .jaguar-image-comfort {
    width: 95%;
  }

  .product-price p {
    font-size: 1.5em;
  }

  .product-data .order-button {
    padding: 15px 20px;
    font-size: 1.5em;
  }
}

@media(max-width: 530px){
  .product-header {
    height: 87.8vh;
  }

  .product-header h1 {
    font-size: 2.4em;
  }

  .presentation-jaguar {
    flex-direction: column;
  }

  .b-eco {
    width: 70%;
    margin-left: 18%;
  }

  .b-eco img {
    width: 100px;
  }

  .b-eco-icon-fuel {
    width: 22%;
    font-size: 18px;
  }

  .eff_main {
    font-size: 16px;
  }

  .presentation-jaguar-img {
    width: 100%;
    margin-left: -1%;
  }

  .m-364-module-specs {
    font-size: 18px;
    width: 120%;
  }

  .product-menu-middle {
    height: 5vh;
  }

  .product__menu__item {
    font-size: 1.3em;
  }

  .product__menu__item:hover {
    text-underline-offset: 3px;
  }

  .product-caracteristique {
    flex-direction: column;
  }

  .product-caracteristique img {
    width: 95%;
  }

  .product-carac-texte {
    font-size: 1.5em;
  }

  .jaguar-image-inside {
    margin-left: 2%;
  }

  .jaguar-image-comfort {
    width: 95%;
  }

  .product-price p {
    font-size: 1.5em;
  }

  .product-data .order-button {
    padding: 15px 20px;
    font-size: 1.5em;
  }
}

@media(max-width: 500px){
  .product-header {
    height: 87.8vh;
  }

  .product-header h1 {
    font-size: 2.4em;
  }

  .presentation-jaguar {
    flex-direction: column;
    margin-right: 10%;
  }

  .b-eco {
    width: 70%;
    margin-bottom: 3%;
    margin-left: 23%;
  }

  .b-eco img {
    width: 90px;
  }

  .b-eco-icon-fuel {
    width: 22%;
    font-size: 17px;
  }

  .eff_main {
    font-size: 15px;
  }

  .presentation-jaguar-img {
    width: 100%;
    margin-left: 4%;
  }

  .m-364-module-specs {
    font-size: 17px;
    width: 120%;
  }

  .product-menu-middle {
    height: 5vh;
  }

  .product__menu__item {
    font-size: 1.2em;
  }

  .product__menu__item:hover {
    text-underline-offset: 3px;
  }

  .product-caracteristique {
    flex-direction: column;
  }

  .product-caracteristique img {
    width: 95%;
  }

  .product-carac-texte {
    font-size: 1.4em;
  }

  .jaguar-image-inside {
    margin-left: 2%;
  }

  .jaguar-image-comfort {
    width: 95%;
  }

  .product-price p {
    font-size: 1.4em;
  }

  .product-data .order-button {
    padding: 15px 20px;
    font-size: 1.4em;
  }
}

@media(max-width: 450px){
  .product-header {
    height: 91.8vh;
  }

  .product-header h1 {
    font-size: 2.2em;
  }

  .presentation-jaguar {
    flex-direction: column;
    margin-right: -8%;
  }

  .b-eco {
    width: 80%;
    margin-left: 8%;
  }

  .b-eco img {
    width: 80px;
  }

  .b-eco-icon-fuel {
    width: 27%;
    font-size: 17px;
  }

  .eff_main {
    font-size: 15px;
  }

  .presentation-jaguar-img {
    width: 90%;
    margin-left: -1%;
  }

  .m-364-module-specs {
    font-size: 15px;
    width: 125%;
  }

  .product-menu-middle {
    height: 5vh;
  }

  .product__menu__item {
    font-size: 1.1em;
  }

  .product__menu__item:hover {
    text-underline-offset: 3px;
  }

  .product-caracteristique {
    flex-direction: column;
  }

  .product-caracteristique img {
    width: 95%;
  }

  .product-carac-texte {
    font-size: 1.2em;
  }

  .jaguar-image-inside {
    margin-left: 2%;
  }

  .jaguar-image-comfort {
    width: 95%;
  }

  .product-price p {
    font-size: 1.4em;
  }

  .product-data .order-button {
    padding: 15px 20px;
    font-size: 1.4em;
  }
}

@media(max-width: 410px){
  .product-header {
    height: 84vh;
  }

  .product-header h1 {
    font-size: 2em;
  }

  .presentation-jaguar {
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 5%;
  }

  .b-eco {
    width: 80%;
    margin-bottom: 3%;
    margin-left: 17%;

  }

  .b-eco img {
    width: 70px;
  }

  .b-eco-icon-fuel {
    width: 27%;
    font-size: 15px;
  }

  .eff_main {
    font-size: 13px;
  }

  .presentation-jaguar-img {
    width: 90%;
    margin-left: 5%;
  }

  .m-364-module-specs {
    flex-direction: column;
    height: 25vh;
    font-size: 15px;
    align-items: center;
  }

  .product-menu-middle {
    height: 5vh;
  }

  .product__menu__item {
    font-size: 1em;
  }

  .product__menu__item:hover {
    text-underline-offset: 4px;
  }

  .product-caracteristique {
    flex-direction: column;
  }

  .product-caracteristique img {
    width: 95%;
  }

  .product-carac-texte {
    font-size: 1em;
  }

  .jaguar-image-inside {
    margin-left: 2%;
  }

  .jaguar-image-comfort {
    width: 95%;
  }

  .product-price p {
    font-size: 1.2em;
  }

  .product-data .order-button {
    padding: 15px 20px;
    font-size: 1.2em;
  }
}

@media(max-width: 320px) {
  .product-header {
    height: 84vh;
  }

  .product-header h1 {
    font-size: 1.8em;
  }

  .presentation-jaguar {
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5%;
  }

  .b-eco {
    justify-content: space-between;
    width: 70%;
    margin-bottom: 3%;
    margin-left: 14%;
  }

  .b-eco img {
    width: 40px;
  }

  .b-eco-icon-fuel {
    width: 27%;
    font-size: 12px;
  }

  .eff_main {
    font-size: 11px;
  }

  .presentation-jaguar-img {
    width: 90%;
    margin-left: 0.2%;
  }

  .m-364-module-specs {
    flex-direction: column;
    height: 22vh;
    font-size: 13px;
  }

  .product-menu-middle {
    height: 5vh;
  }

  .product__menu__item {
    font-size: 0.9em;
  }

  .product__menu__item:hover {
    text-underline-offset: 4px;
  }

  .product-caracteristique {
    flex-direction: column;
  }

  .product-caracteristique img {
    width: 95%;
  }

  .product-carac-texte {
    font-size: 0.8em;
  }

  .jaguar-image-inside {
    margin-left: 2%;
  }

  .jaguar-image-comfort {
    width: 95%;
  }

  .product-price p {
    font-size: 1em;
  }

  .product-data .order-button {
    padding: 15px 20px;
    font-size: 1em;
  }
}