@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family: sans-serif;
}

.menu header {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #ffffff;
  background-color: #232020;
}

.menu .nav-area {
  display: flex;
  align-items: center;
  max-width: 1200px;
}

.menu .logo {
  text-decoration: none;
  font-size: 25px;
  color: inherit;
}

.menu .logoimg{
  padding-top: 10px;
  margin-right: 20px;
  width: 13vw;
  height: auto;
}

.menu .menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.menu .menu-items {
  position: relative;
  font-size: 14px;
}

.menu .menu-items a {
  display: block;
  font-size: 16px;
  color: inherit;
  text-decoration: none;
  font-family: 'Blinker', sans-serif;
}

.menu .menu-items button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  font-family: 'Blinker', sans-serif;
}

.menu button span {
  margin-left: 3px;
}

.menu .menu-items > a, .menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.menu .menu-items a:hover,
.menu .menu-items button:hover {
  background-color: #f2f2f2;
  color: black;
} 

.menu .arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.menu .dropdown {
  position: absolute;
  right: 0;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: #fff;
  border-radius: 0.5rem;
  display: none;
  color: black;
}

.menu .dropdown.show {
  display: block;
}

.menu .dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}

.menu .content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 20px;
}

.menu .content h2 {
  margin-bottom: 1rem;
}

.menu .content a {
  color: #cc3852;
  margin-right: 10px;
}