.burger{
    width: 100%;
    height: 50px;
    background-color: #232020;
    display: flex;
}

.burger .logoBurger{
    margin-left: 55px;
    height: auto;
    width: 150px;
}

.burger #menuToggle{
    display: block;
    position: relative;
    top: 12px;
    left: 15px;

    z-index: 3;

    -webkit-user-select: none;
    user-select: none;
}

.burger #menuToggle a {
    text-decoration: none;
    color: white;

    transition: color 0.3s ease;
    margin-top: 20px;
}

.burger #menuToggle input
{
display: block;
width: 40px;
height: 32px;
position: absolute;
top: -7px;
left: -5px;

cursor: pointer;

opacity: 0; 
z-index: 2;

-webkit-touch-callout: none;
}

.burger #menuToggle span
{
display: block;
width: 33px;
height: 4px;
margin-bottom: 5px;
position: relative;

background: #cdcdcd;
border-radius: 3px;

z-index: 1;

transform-origin: 4px 0px;

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
}

.burger #menuToggle span:first-child
{
transform-origin: 0% 0%;
}

.burger #menuToggle span:nth-last-child(2)
{
transform-origin: 0% 100%;
}

.burger #menuToggle input:checked ~ span
{
opacity: 1;
transform: rotate(45deg) translate(-2px, -1px);
background: white;
}

.burger #menuToggle input:checked ~ span:nth-last-child(3)
{
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);
}

.burger #menuToggle input:checked ~ span:nth-last-child(2)
{
transform: rotate(-45deg) translate(0, -1px);
}

.burger #menu
{
position: absolute;
width: 365px;
margin: -115px 0 0 -50px;
padding: 50px;
padding-top: 125px;
height: 115vh;

background: #232020;
list-style-type: none;
-webkit-font-smoothing: antialiased;

transform-origin: 0% 0%;
transform: translate(-100%, 0);

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.burger #menu li
{
padding: 36px 0;
font-size: 20px;
text-align: center;
}

.burger #menuToggle input:checked ~ ul
{
transform: none;
}

/* Sous menu */

.burger label{
    cursor: pointer;
    overflow: hidden;
    color: #ffff;
    font-size: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin: 0px 0px 40px 0px;
}
  
.burger input[type="radio"], input[type="checkbox"]{
    display: none;
}

.burger .sub > li {
    cursor: pointer;
    overflow: hidden;
    display: none;
    font-size: 0.875em;
}

.burger input:checked + .sub > li{
    height: 1.4em;
    display: block;
}

.burger .submenu-arrow{
    float: right;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 5px;
    width: 50px;
    height: auto;
}

.burger .accordion{
    display: flex;
    justify-content: center;
    margin-left: 30px;
}