.wrapper {
    width: 100%;
    max-width: 1050px;
    margin: 50px auto;
    height: auto;
    text-align: center;
}


.title-categories {
    font-family: 'Blinker', sans-serif;
    margin-bottom: 20px;
}

.vehicle-card {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 240px;
    height: 314px;
    overflow: visible;
    z-index: 1;
    border-radius: 2px;
    margin: 0 20px 20px 0;
    text-align: left;
}

.vehicle-card:hover {
    z-index: 2;
    -webkit-transform: translate(0px, -10px);
    transform: translate(0, -10px);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.vehicle-card .details {
    position: absolute;
    height: 314px;
    width: 240px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

.vehicle-card .details:hover {
    -webkit-transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    height: 490px;
    width: 240px;
}

.vehicle-card .info {
    margin: 10px;
}

.vehicle-card .ctas {
    margin: 10px 0;
}

.thumb-gallery {
    height: 150px;
    position: relative;
    text-align: initial;
}

.thumb-gallery img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumb-gallery img.first {
    opacity: 0;
}

.thumb-gallery:hover img.first {
    opacity: 1;
}

.thumb-gallery img.second {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}
.vehicle-card:hover .thumb-gallery:hover img.second {
    opacity: 0;
    -webkit-transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.vehicle-card h3 {
    margin: 0;
    font-family: 'Blinker', sans-serif;
    font-size: 1.3rem;
    letter-spacing: -.5px;
}

.vehicle-card .price span {
    font-family: 'Blinker', sans-serif;
    color: #999;
    font-size: .75rem;
}

.vehicle-card .price h4 {
    margin: 0;
    font-family: 'Blinker', sans-serif;
    color: #222;
    font-size: 1.25rem;
}

.vehicle-card .desc p {
    color: #666;
    font-size: .9rem;
    line-height: 1rem;
}

.vehicle-card .specs {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    margin: 20px 0;
    padding: 10px 0;
}

.specs .spec {
    display: inline-block;
    margin-right: 10px;
}

.specs span {
    font-family: 'Blinker', sans-serif;
    color: #999;
    font-size: .75rem;
}

.specs p {
    font-family: 'Blinker', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.specs p span {
    font-size: .75rem;
    margin-left: 2px;
    font-weight: normal;
}

.btn {
    display: block;
    padding: 0 10px;
    float: left;
    font-size: .75rem;
    font-family: 'Blinker', sans-serif;
    text-decoration: none;
    height: 30px;
    text-align: center;
    border-radius: 2px;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.primary {
    background-color: #1383b3;
    color: #fff;
    margin-right: 10px;
    line-height: 40px;
    height: 40px;
}

.secondary {
    background-color: #fff;
    color: #1383b3;
    border: 2px solid #1383b3;
    line-height: 26px;
}

.details .info {
    height: 80px;
}

.details .info h3 {
    height: 50px;
}

/* Pour les petits écrans */
@media only screen and (max-width: 415px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .vehicle-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .vehicle-card {
        width: 100%;
        margin: 0 20px 20px 0;
    }
}

