.guides{
    font-family: 'Blinker', sans-serif;
}

.guides .guides-title{
    text-align: center;
    font-family: 'Blinker', sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 3em;
}

.guides .guides-description{
    text-align: center;
    font-size: 20px;
}

.guides .guides-xj{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    background-color: #e0dddd;
}

.guides .guides-xj img{
    width: 500px;
    height: auto;
    margin: 30px;
    border-radius: 2px;
}

.guides .guides-xj-text h1{
    text-align: center;
    margin-bottom: 60px;
}

.guides .guides-xj-text p{
    text-align: center;
    width: 50vw;
    font-size: 20px;
    line-height: 2;
}

.guides .guides-xj-docs{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 800px;
    padding-top: 50px;
}

.guides .guides-xj-text a{
    margin: 30px;
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.guides .guides-xj-text a:hover{
    color: rgb(10, 9, 94);
    text-decoration: underline;
}

.guides .guides-xf{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.guides .guides-xf img{
    width: 600px;
    height: auto;
    margin: 30px;
    border-radius: 2px;
}

.guides .guides-xf-text p{
    text-align: center;
    width: 50vw;
    font-size: 20px;
    line-height: 2;
}

.guides .guides-xf-text h1{
    text-align: center;
    margin-bottom: 60px;
}

.guides .guides-xf-docs{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.guides .guides-xf-text a{
    margin: 30px;
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.guides .guides-xf-text a:hover{
    color: rgb(10, 9, 94);
    text-decoration: underline;
}

.guides .guides-iguide img{
    width: 600px;
    height: auto;
    margin: 30px;
    border-radius: 2px;
}

.guides .guides-iguide{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: black;
}

.guides .guides-iguide-text h1{
    text-align: center;
    margin-bottom: 60px;
}

.guides .guides-iguide-text p{
    text-align: center;
    width: 50vw;
    font-size: 20px;
    line-height: 2;
}

.guides .iguide-docs{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.guides .iguide-docs a{
    margin: 30px;
    font-size: 22px;
    text-decoration: none;
    color: white;
}

.guides .iguide-docs a:hover{
    text-decoration: underline;
}

/* --- RESPONSIVE --- */

@media(max-width: 1440px){
    .guides .guides-xf-docs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width: 1360px){
    .guides .guides-xj{
        flex-direction: column;
    }

    .guides .guides-xf{
        flex-direction: column;
    }

    .guides .guides-iguide{
        flex-direction: column;
    }

    .guides .guides-xj-docs{
        margin-bottom: 30px;
    }

    .guides .guides-xj-text p{
        margin: 0 auto;
    }

    .guides .guides-xf-text h1{
        margin-top: 20px;
    }

    .guides .guides-xf-text p{
       margin: 0 auto;
    }

    .guides .guides-xf-docs{
        padding-bottom: 20px;
    }

    .guides .guides-iguide img{
        margin-top: 30px;
    }

    .guides .guides-iguide-text p{
        margin: 0 auto;
    }

    .guides .iguide-docs{
        margin-bottom: 20px;
    }

    .guides .guides-description{
        width: 80vw;
        margin: 0 auto;
    }
}

@media(max-width: 768px){
    .guides .guides-iguide img{
        width: 500px;
    }

    .guides .guides-xf img{
        width: 500px;
    }

    .guides .guides-xj img{
        width: 500px;
    }

    .guides .guides-xj-docs{
        width: 600px;
    }
}

@media(max-width: 600px){
    .guides .guides-xj img{
        width: 250px;
    }

    .guides .guides-xj-docs{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 300px;
    }

    .guides .guides-xf img{
        width: 300px;
    }

    .guides .guides-iguide img{
        width: 300px;
    }

    .guides .guides-xj-text p{
        font-size: 18px;
        width: 90vw;
    }

    .guides .guides-xf-text p{
        width: 90vw;
    }

    .guides .guides-xf-text a{
        font-size: 18px;
    }

    .guides .guides-xj-text a{
        font-size: 18px;
    }

    .guides .guides-iguide-text p{
        font-size: 18px;
        width: 80vw;
    }

    .guides .iguide-docs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 18px;
    }

    .guides .guides-title{
        font-size: 2em;
    }

    .guides .guides-description{
        font-size: 18px;
    }
}