.homepage .homepage-performance {
    display: flex;
    margin: 20px 20px 80px 40px;
}

.homepage .homepage-performance img {
    border-radius: 2px;
}

.homepage .homepage-performance-text {
    font-family: 'Blinker', sans-serif;
}

.homepage .homepage-performance-text h1 {
    text-align: center;
    margin-bottom: 30px;
}

.homepage .homepage-performance-text p {
    padding: 40px;
    line-height: 2;
    font-size: 20px;
}

.homepage .homepage-svo {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    font-family: 'Blinker', sans-serif;
}

.homepage .homepage-svo-text {
    font-size: 20px;
    line-height: 2;
    padding: 50px;
}

.homepage .homepage-svo-text h1 {
    margin-bottom: 20px;
}

.homepage .homepage-svo-text p {
    margin-bottom: 100px;
}

.homepage .homepage-svo-text a {
    background-color: #e9ed29;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    width: 200px;
    border-radius: 5px;
}

.homepage .homepage-svo-text a:hover {
    filter: brightness(0.6);
}

.homepage .homepage-exp {
    display: flex;
    margin: 80px 20px 80px 40px;
}

.homepage .homepage-exp img {
    border-radius: 2px;
}

.homepage .homepage-exp-text {
    font-family: 'Blinker', sans-serif;
}

.homepage .homepage-exp-text h1 {
    text-align: center;
    margin-bottom: 30px;
}

.homepage .homepage-exp-text p {
    padding: 40px;
    line-height: 2;
    font-size: 20px;
}

@media (max-width: 1440px) {
    .homepage .homepage-svo img {
        width: 700px;
        height: 400px;
    }

    .homepage .homepage-performance img {
        width: 600px;
        height: auto;
    }

    .homepage .homepage-exp img {
        width: 600px;
        height: auto;
    }
}

@media (max-width: 1200px) {

    .homepage .homepage-performance img {
        display: block;
        margin: 0 auto;
    }

    .homepage .homepage-performance {
        flex-direction: column;
        justify-content: center;

    }

    .homepage .homepage-performance-text {
        margin-top: 20px;
    }

    .homepage .homepage-svo {
        flex-direction: column;
    }

    .homepage .homepage-svo img {
        display: block;
        margin: 0 auto;
    }

    .homepage .homepage-exp {
        flex-direction: column;
    }

    .homepage .homepage-exp img {
        display: block;
        margin: 0 auto;
    }

    .homepage .homepage-exp-text {
        margin-top: 20px;
    }
}

@media (max-width: 700px) {
    .homepage .homepage-performance img {
        width: 350px;
        height: 200px;
    }

    .homepage .homepage-svo img {
        width: 400px;
        height: 200px;
    }

    .homepage .homepage-exp img {
        width: 350px;
    }

    .homepage .homepage-exp-text p {
        padding: 20px;
        font-size: 16px;
    }

    .homepage .homepage-performance-text p {
        padding: 20px;
        font-size: 16px;
    }

    .homepage .homepage-performance-text p {
        padding: 20px;
        font-size: 16px;
    }

    .homepage .homepage-performance-text h1 {

        font-size: 16px;
    }
}

@media (max-width: 375px) {
    .homepage .homepage-performance img {
        width: 250px;
        height: 180px;
    }

    .homepage .homepage-svo img {
        width: 200px;
        height: 150px;
    }

    .homepage .homepage-exp img {
        width: 250px;
    }

    .homepage .homepage-exp-text p {
        padding: 10px;
        font-size: 14px;
    }

    .homepage .homepage-performance-text p {
        padding: 10px;
        font-size: 14px;
    }

    .homepage .homepage-svo-text p {
        padding: 20px;
        font-size: 14px;
    }

    .homepage .homepage-performance-text h1 {
        font-size: 25px;
    }

    .homepage .homepage-svo-text h1 {
        font-size: 25px;
    }

    .homepage .homepage-exp-text h1 {
        font-size: 25px;
    }
}