.carousel{
	overflow: hidden;
	margin-bottom: 70px;
}

.carousel label {
	background: #d3d0d0;
	color: black;
	transition: transform 400ms ease-out;
	display: inline-block;
    min-height: 100%;
	width: 100vw;
	height: 80vh;
	position: relative;
	text-align: center;
	line-height: 60vh;
	font-family: 'Blinker', sans-serif;
	z-index: 1;
}

.carousel-label-container{
	height: 800px;
	padding: 50px;
}

.carousel .carousel-image{
	margin-bottom: 100px;
}

.carousel-label-container p{
	height: 100px;
}

.carousel-label-container .carousel-label-container-text{
	display: flex;
	flex-direction: column;
}

.carousel .carousel-label-container{
	display: flex;
	justify-content: space-evenly;
}

.carousel .carousel-label-container-text a{
	color: black;
	text-decoration: none;
}

.carousel .carousel-label-container-text p{
	font-size: 4rem;
}

.carousel .carousel-label-container-text a:hover{
	text-decoration: underline;
}

.carousel form {
	white-space: nowrap;
}

.carousel input {
	position: absolute;
	display: none;
}

.carousel input:focus ~ .keys {
	opacity: 0.8;
}

.carousel input:nth-of-type(1):checked ~ label:nth-of-type(1), 
.carousel input:nth-of-type(2):checked ~ label:nth-of-type(2),
.carousel input:nth-of-type(3):checked ~ label:nth-of-type(3),
.carousel input:nth-of-type(4):checked ~ label:nth-of-type(4){
   z-index: 0;
}

.carousel input:nth-of-type(1):checked ~ label {
	transform: translate3d(0, 0, 0);
}

.carousel input:nth-of-type(2):checked ~ label {
	transform: translate3d(-100%, 0, 0);
}

.carousel input:nth-of-type(3):checked ~ label {
	transform: translate3d(-200%, 0, 0);
}

.carousel input:nth-of-type(4):checked ~ label {
	transform: translate3d(-300%, 0, 0);
}

.carousel label {
	background: #e0dddd;
	background-size: cover;
	font-size: 2rem;
}

.carousel label:before,
.carousel label:after {
	color: rgb(148, 145, 145);
	display: block;
	background: rgba(255, 253, 253, 0.2);
	position: absolute;
	padding: 1rem;
	font-size: 3rem;
	height: 10rem;
	vertical-align: middle;
	line-height: 10rem;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	cursor: pointer;
}

.carousel label:before {
	content: "\276D";
	right: 100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.carousel label:after {
	content: "\276C";
	left: 100%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

/* --- RESPONSIVE --- */

@media (max-width: 1600px){
	.carousel label {
		height: 90vh;
	}

	.carousel label:before,
	.carousel label:after {
		padding: 8px;
		font-size: 2rem;
	}
}

@media (max-width: 1380px){
	.carousel .carousel-image{
		width: 700px;
		height: auto;
		display: block;
		margin: 0 auto;
	}
}

@media (max-width: 1024px){
	.carousel .carousel-image{
		width: 700px;
		height: auto;
		display: block;
		margin: 0 auto;
	}

	.carousel .carousel-label-container{
		display: flex;
		flex-direction: column;
		justify-content: normal;
	}

	.carousel label{
		line-height: 0;
	}
	
}

@media (max-width: 768px){
	.carousel label{
		font-size: 2rem;
	}

	.carousel .carousel-label-container-text p{
		font-size: 3rem;
	}

	.carousel .carousel-image{
		width: 500px;
		height: auto;
		display: block;
		margin: 0 auto;
	}
}

@media (max-width: 425px){
	.carousel .carousel-image{
		width: 400px;
		height: auto;
		display: block;
		margin: 0 auto;
	}

	.carousel label{
		font-size: 1rem;
		z-index: 0;
	}

	.carousel .carousel-label-container-text p{
		font-size: 2rem;
	}

	.carousel label:before,
	.carousel label:after {
		padding: 10px;
		font-size: 2rem;
	}
}

@media (max-width: 375px){
	.carousel .carousel-image{
		width: 300px;
		height: auto;
		display: block;
		margin: 0 auto;
	}

	.carousel label{
		z-index: 0;
	}
}

@media (max-width: 320px){
	.carousel label:before,
	.carousel label:after {
		padding: 7px;
		font-size: 2rem;
	}

	.carousel label{
		z-index: 0;
		height: 60vh;
	}

	.carousel .carousel-image{
		width: 380px;
		padding-right: 130px;
	}
}



