@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');

footer{
    width: 100%;
    background-color: #3C3C3B;
    position: relative;
    bottom: 0;
    color: #FFFFFF;
    font-size: 17px;
    font-family: 'Blinker', sans-serif;
    padding-top: 10px;
}

.footer-flex{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.footer-network-title{
    font-weight: bold;
    padding-bottom: 50px;
}

.footer-contact-title{
    font-weight: bold;
    padding-bottom: 50px;
}

.footer-links-contact p{
    padding-bottom: 10px;
}

.footer-links-contact a{
    text-decoration: none;
    color: #FFFFFF;
}

.footer-links-contact a:hover{
    text-decoration: underline;
}

.footer-links-network a{
    text-decoration: none;
    color: #FFFFFF;
}

.footer-links-network a:hover{
    text-decoration: underline;
}

.footer-links-network p{
    padding-bottom: 10px;
}

.footer-links-network{
    display: flex;
    gap: 50px;
}

.footer-flex-logo{
    display: flex;
    gap: 10px;
}

.footer-responsive{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.facebook-logo{
    width: 25px;
    height: 25px;
}

.twitter-logo{
    width: 35px;
    height: 35px;
}

.youtube-logo{
    width: 35px;
    height: 25px;
}

.instagram-logo{
    width: 30px;
    height: 30px;
}

.linkedin-logo{
    width: 40px;
    height: 30px;
}

/* --- RESPONSIVE --- */

@media (max-width: 1250px){
    .footer-flex{
        flex-direction: column;
        justify-content: space-around;
    }

    footer{
        height: 500px;
    }
}

@media (max-width: 640px){
    .footer-responsive{
        display: block;
    }

    footer{
        height: 900px;
        font-size: 14px;
        text-align: center;
    }

    .footer-network, .footer-contact{
        margin-bottom: 30px;
        margin-left: 20px;
    }

    .footer-flex{
        justify-content: center;
        align-items: center;
    }

    .footer-network-title, .footer-contact-title{
        text-align: center;
    }

    .footer-links-network{
        display: inline-block;
    }

    .facebook-logo{
        width: 20px;
        height: 20px;
    }

    .twitter-logo{
        width: 30px;
        height: 30px;
    }

    .youtube-logo{
        width: 30px;
        height: 20px;
    }

    .linkedin-logo{
        width: 30px;
        height: 20px;
    }
    
}